<% title "Story" %>

<p>
  <strong>Title:</strong>
  <%=h @story.title %>
</p>
<p>
  <strong>Body:</strong>
  <%=h @story.body %>
</p>
<p>
  <strong>Public:</strong>
  <%=h @story.public %>
</p>

<p>
  <%= link_to "Edit", edit_story_path(@story) %> |
  <%= link_to "Destroy", @story, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", stories_path %>
</p>
