%h3
  Don't have an account?
  = link_to "Signup", signup_path
  \.

- form_for @user_session, :html => {:class => 'form login'} do |f|
  = f.error_messages
  .group 
    .left
      = f.label :username, "Username", :class => 'label right'
    .right
      = f.text_field :username, :type => 'text', :class => "text_field"
    .clear
  .group
    .left
      = f.label :password, "Password", :class => 'label right'
    .right
      = f.password_field :password, :type => 'password', :class => "text_field"
    .clear
  .group.navform
    .right
      = f.submit "Login", :type => "submit", :class => "button"
    .clear



