!!! Strict
%html{ :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %title
      = h(yield(:title) || "Pakistan Refugee Crisis")
    = stylesheet_link_tag 'pakistan_crisis', "themes/default/style"
    = javascript_include_tag :defaults
    
  %body
    #container
      = render :partial => "layouts/header"
      #wrapper
        #main
          #block-messages.block
            .content
              %h2.title Messages
              .inner
                .flash
                  - flash.each do |name, msg|
                    %div{ :class => "message #{name}"}
                      %p= msg
          = yield
          #footer
            .block
              %p
                Copyright &copy; 2009 Your Site.
        #sidebar
          = yield :sidebar
        .clear
